@mixin dysplayConfig {
  position: absolute;
  width: 274px;
  height: 560px;
  top: 23px;
  left: 13px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
}

@mixin backgrounImage {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 3200px;
  max-height: 720px;
  height: 720px;
  width: 100vw;
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

.Schedule {
  position: relative;
  max-width: 3200px;
  max-height: 720px;
  height: 720px;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 74px;

  &_image {
    position: absolute;
    top: 0;
    left: 0;

    &_gradient {
      position: absolute;
      left: 0px;
      top: 0px;
      max-width: 3200px;
      max-height: 720px;
      height: 720px;
      width: 100vw;
      background: linear-gradient(103.55deg, #b487f5 0%, #6e8cf5 100%);
    }

    &_png {
      @include backgrounImage;
      background-image: url(../../img/image2-3200.png);
    }

    &_webP {
      @include backgrounImage;
      background-image: url(../../img/image2-3200.webp);
    }
  }

  &_frame {
    position: relative;
    top: 120px;
    width: 480px;
    height: 432px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &_group {
      display: flex;
      gap: 5px;
      width: 320px;
      height: 60px;

      &_button {
        width: 60px;
        height: 60px;
        border: 1px solid #ffffff;
        border-radius: 20px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0);

        & span {
          font-weight: 700;
          font-size: 34px;
          line-height: 60px;
          font-family: 'Gilroy';
          font-style: normal;
          color: #fff;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }

        &:active {
          background: #ffffff;
          & span {
            background: linear-gradient(103.55deg, #b487f5 0%, #6e8cf5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
        }
      }
    }

    &_text-1 {
      width: 480px;
      height: 112px;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
    }

    &_text-2 {
      margin-top: -20px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
    }

    &_button {
      width: 247px;
      height: 64px;
      border: none;
      border-radius: 20px;
      background: #ffffff;

      &:hover {
        background: #eaebf1;
      }
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #413c55;
    }
  }

  &_phone {
    position: relative;
    top: 60px;
    width: 300px;
    height: 598px;
    background: rgba(234, 235, 241, 0.2);
    border: 1px solid #ffffff;
    box-shadow: 0px 40px 60px rgba(80, 108, 207, 0.48);
    border-radius: 32px;

    &_display-1_jpg {
      @include dysplayConfig;
      background-image: url(../../img/phone1-274-560.jpg);
    }

    &_display-2_jpg {
      @include dysplayConfig;
      background-image: url(../../img/phone2-274-560.jpg);
    }

    &_display-3_jpg {
      @include dysplayConfig;
      background-image: url(../../img/phone3-274-560.jpg);
    }

    &_display-4_jpg {
      @include dysplayConfig;
      background-image: url(../../img/phone4-274-560.jpg);
    }

    &_display-5_jpg {
      @include dysplayConfig;
      background-image: url(../../img/phone5-274-560.jpg);
    }

    &_display-1_webP {
      @include dysplayConfig;
      background-image: url(../../img/phone1-274-560.webp);
    }

    &_display-2_webP {
      @include dysplayConfig;
      background-image: url(../../img/phone2-274-560.webp);
    }

    &_display-3_webP {
      @include dysplayConfig;
      background-image: url(../../img/phone3-274-560.webp);
    }

    &_display-4_webP {
      @include dysplayConfig;
      background-image: url(../../img/phone4-274-560.webp);
    }

    &_display-5_webP {
      @include dysplayConfig;
      background-image: url(../../img/phone5-274-560.webp);
    }

    &_rectangle-1 {
      position: absolute;
      width: 50px;
      height: 4px;
      left: 125px;
      top: 15px;
      background: #ffffff;
      border-radius: 30px;
    }

    &_rectangle-2 {
      position: absolute;
      width: 122px;
      height: 12px;
      left: 89px;
      top: 571px;
      background: #ffffff;
    }
  }
}

.active {
  background: #ffffff;
  &:hover {
    background: #ffffff;
  }
  span {
    background: linear-gradient(103.55deg, #b487f5 0%, #6e8cf5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@media all and (max-width: 1920px) {
  .Schedule {
    &_image {
      &_gradient {
        max-width: 1920px;
      }

      &_png {
        max-width: 1920px;
        background-image: url(../../img/image2-1920.png);
      }
      &_webP {
        max-width: 1920px;
        background-image: url(../../img/image2-1920.webp);
      }
    }
  }
}

@media all and (max-width: 1440px) {
  .Schedule {
    max-width: 1440px;

    &_image {
      &_gradient {
        max-width: 1440px;
      }
      &_png {
        max-width: 1440px;
        background-image: url(../../img/image2-1440.png);
      }
      &_webP {
        max-width: 1440px;
        background-image: url(../../img/image2-1440.webp);
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .Schedule {
    max-width: 1024px;
    gap: 79px;

    &_image {
      &_gradient {
        max-width: 1024px;
      }
      &_png {
        max-width: 1024px;
        background-image: url(../../img/image2-1024.png);
      }
      &_webP {
        max-width: 1024px;
        background-image: url(../../img/image2-1024.webp);
      }
    }
  }
}

@media all and (max-width: 920px) {
  .Schedule {
    gap: 20px;
  }
}

@media all and (max-width: 880px) {
  .Schedule {
    max-width: 880px;
    max-height: 500px;
    width: 100vw;
    height: 500px;
    gap: 64px;

    &_image {
      &_gradient {
        max-width: 880px;
        max-height: 500px;
        width: 100vw;
        height: 500px;
      }
      &_png,
      &_webP {
        max-width: 880px;
        max-height: 500px;
        width: 100vw;
        height: 500px;
      }
    }

    &_frame {
      width: 280px;
      height: 320px;
      top: 100px;
      gap: 10px;

      &_group {
        width: 232px;
        height: 40px;
        gap: 8px;

        &_button {
          width: 40px;
          height: 40px;
          border-radius: 12px;

          & > span {
            font-size: 24px;
            line-height: 40px;
          }
        }
      }

      &_text-1 {
        width: 280px;
        height: 64px;
        font-size: 24px;
        line-height: 32px;
      }

      &_text-2 {
        margin-top: 0;
        width: 280px;
        height: 120px;
        font-size: 14px;
        line-height: 20px;
      }

      &_button {
        height: 56px;
      }
    }

    &_phone {
      width: 203px;
      height: 402px;
      top: 40px;
      border-radius: 20px;

      &_display-1_jpg,
      &_display-2_jpg,
      &_display-3_jpg,
      &_display-4_jpg,
      &_display-5_jpg,
      &_display-1_webP,
      &_display-2_webP,
      &_display-3_webP,
      &_display-4_webP,
      &_display-5_webP {
        width: 183px;
        height: 374px;
        left: 10px;
        top: 16px;
        border-radius: 14px;
      }
      &_rectangle-1 {
        width: 36px;
        height: 3px;
        top: 10px;
        left: 83px;
      }
      &_rectangle-2 {
        width: 76px;
        height: 6px;
        top: 382px;
        left: 65px;
      }
    }
  }
}

@media all and (max-width: 740px) {
  .Schedule {
    gap: 0;
    &_image {
      &_png {
        background-image: url(../../img/image2-740.png);
      }
      &_webP {
        background-image: url(../../img/image2-740.webp);
      }
    }
    &_frame {
      left: 20px;
      width: 300px;
      &_text-2 {
        width: 300px;
      }
    }
    &_phone {
      background: none;
      border: none;
      box-shadow: none;
      border-radius: 0;
      width: 45%;
      height: 109%;
      top: -20px;
      display: flex;
      align-items: flex-end;

      &_rectangle-1,
      &_rectangle-2 {
        display: none;
      }

      &_display-1_jpg,
      &_display-2_jpg,
      &_display-3_jpg,
      &_display-4_jpg,
      &_display-5_jpg,
      &_display-1_webP,
      &_display-2_webP,
      &_display-3_webP,
      &_display-4_webP,
      &_display-5_webP {
        position: relative;
        height: 90%;
        width: 100%;
        top: 0px;
      }

      &_display-1_jpg {
        background-image: url(../../img/phone-small-1-240.png);
      }
      &_display-2_jpg {
        background-image: url(../../img/phone-small-2-240.png);
      }
      &_display-3_jpg {
        background-image: url(../../img/phone-small-3-240.png);
      }
      &_display-4_jpg {
        background-image: url(../../img/phone-small-4-240.png);
      }
      &_display-5_jpg {
        background-image: url(../../img/phone-small-5-240.png);
      }
      &_display-1_webP {
        background-image: url(../../img/phone-small-1-240.webp);
      }
      &_display-2_webP {
        background-image: url(../../img/phone-small-2-240.webp);
      }
      &_display-3_webP {
        background-image: url(../../img/phone-small-3-240.webp);
      }
      &_display-4_webP {
        background-image: url(../../img/phone-small-4-240.webp);
      }
      &_display-5_webP {
        background-image: url(../../img/phone-small-5-240.webp);
      }
    }
  }
}

@media all and (max-width: 540px) {
  .Schedule {
    max-height: 820px;
    height: 820px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    &_image {
      &_gradient {
        max-height: 820px;
        height: 820px;
      }
      &_png,
      &_webP {
        max-height: 820px;
        height: 820px;
        background-size: 100% 100%;
      }
    }

    &_phone {
      width: 294px;
    }

    &_frame {
      width: auto;
      height: auto;
      left: 0;
      top: 0px;
      z-index: 1;

      &_group {
        margin-left: 20px;
      }
      &_text-1 {
        width: auto;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
      }
      &_text-2 {
        width: 92%;
        height: auto;
        margin-left: 20px;
      }
      &_button {
        margin-left: 20px;
        margin-bottom: 40px;
      }
    }
  }
}

@media all and (max-width: 492px) {
  .Schedule {
    gap: 0;
    &_frame_button {
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 320px) {
  .Schedule {
    max-width: 320px;
    width: 100vw;

    &_image {
      &_gradient {
        max-width: 320px;
        width: 100vw;
      }

      &_png {
        max-width: 320px;
        width: 100vw;
        background-image: url(../../img/image2-320.png);
      }
      &_webP {
        max-width: 320px;
        width: 100vw;
        background-image: url(../../img/image2-320.webp);
      }
    }
    &_phone {
      top: -30px;
    }
  }
}
